#boton-carro{
    width: 30px;
    height: 36px;
    line-height: 40px;
}
#boton-carro:hover{
    border: .5px solid goldenrod;
}
#boton-carro:active{
    border: .5px solid goldenrod;
}
.carro{
	border: darkgray 1px solid;
	margin: 10px;
	padding: 10px;
	min-height: 470px;
	background-color: whitesmoke;
}

.tituloCarro{
	font-family: 'Haettenschweiler';
	font-size: 26px;
	color: rgb(41, 8, 1);
	text-align: center;
	margin-bottom: 20px;
	padding: 10px;
}

.item{
	display: flex;
	padding: 10px 20px;
    border: darkgray .5px solid;
    min-width: 1200px;
    background-color: white;
}

.datosItem{
    margin-left: 80px;
    display: flex;
    max-width: 1000px;
}

.nombreItem{
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
}

.descripcionItem{
    margin-top: 10px;
    margin-left: 60px;
    font-size: 30px;
}

.precioItem{
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-left: 400px;
}

.botonesCarro{
    display: flex; 
    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-left: 50px;
}

.cantidadItem{
    padding-left: 8px;
    padding-right: 8px;
	border: .5px gray solid;
}

.inferior{
	margin: 10px;
    display: flex;
    float: right;
}

.total{
	display: flex;
    width: 214px;
    height: 30px;
	justify-content: space-between;
    font-size: 24px;
    margin-top: 5px;
    padding-left: 10px;
    margin-right: 20px;
    padding-right: 10px;
    font-weight: bold;
	color: rgb(41, 8, 1);
	background-color: white;
	border: darkgray 1px solid;
}

.eliminaItem{
    margin-left: 10px;
    font-weight: bold;
}
.tramitar{
	font-family: 'Haettenschweiler';
	font-size: 26px;
	color: rgb(41, 8, 1);
	background-color: white;
	border-radius: 5px;
	padding: 5px ;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255,255,255,0.3);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3); 
}

.tramitar:hover{
	background-color: gold;	
}

.tramitar:active{
	background-color: gold;
}