.mySlides{
    width: 500px;
    height: 450px;
    display:none;
    border: 1px solid black;
    box-shadow: 4px 4px 4px rgb(37, 37, 37);
}
.novedades_bloque{
    display: flex;
}
.img_nov{
    width: 100%;
    height: 100%;
}
.prev{
    margin-left: 200px;
    margin-top: 180px;
    height: 30px;
    cursor:pointer;
    width:auto;
    padding:16px;
    color:black;
    font-weight:bold;
    font-size:18px;
    transition:0.6s ease;
    border-radius:0 3px 3px 0;
}
 .next{
    margin-top: 180px;
    height: 30px;
    cursor:pointer;
    width:auto;
    padding:16px;
    color:black;
    font-weight:bold;
    font-size:18px;
    transition:0.6s ease;
    border-radius:0 3px 3px 0;
}
.next{
    right:0;
    border-radius:3px 0 0 3px;
}
.prev:hover, .next:hover{
    background-color:rgba(0,0,0,0.8);
}
.text{
    text-align:center;
    color:black;
    font-size:15px;
    padding:8px 12px;
	height: 20px;
	cursor: pointer;
}

.text:hover{
	background-color: rgb(238, 241, 211);
}
.numbertext{
    color:black;
    font-size:12px;
    padding:8px 12px;
    top:0;
}

.fade{
    -webkit-animation-name:fade;
    -webkit-animation-duration:1.5s;
    animation-name:fade;
    animation-duration:1.5s;
}

@-webkit-keyframes fade{
    from{opacity:.4}
    to{opacity:1}
}

@keyframes fade{
    from{opacity:.4}
    to{opacity:1}
}