.aviso{
	color: red;
	text-align: center;
	padding: 10px;
	border: 1px solid black;
	margin-top: 20px;
	margin-left: 60px;
	margin-right: 40px;
	font-weight: bold;
}

div#contenedor {
	background-color: white;
	margin-top: 0;
	max-width: 1400px;
}

div#contenido {
	padding: 10px;
	float: left;
	min-height: 750px;
	max-width: 1400px;
	width: 1400;
	background-color: white;
}

div#contenido2{
	background-color: white;
	padding: 10px;
	max-width: 1600px;
	min-height: 580px;
}

div#interior {
	padding: 10px;
	float: left;
	min-height: 600px;
	width: 920px;
	background-color: white;
}

div#top_ventas {
	background-color: white;
	height: 400px;
	width: 830px;
	margin: 40px;
	border: black solid 1px;
	box-shadow: 2px 2px 2px rgb(58, 57, 57);
}

div#imagen-mas-vendido {
	background-color: whitesmoke;
	height: 343px;
	width: 830px;
	border-bottom: none;
}

.img_top_ventas{
	width: 830px;
	height: 343px;
}

div#titulo-mas-vendido {
	background-color:rgb(216, 206, 152);
	height: 30px;
	width: 830px;
	font-size: 25px;
	font-weight:bold;
}

div#titulo-mas-vendido:hover{
	background-color: rgb(238, 241, 211);
}

.novedades {
	background-color: white;
	height: 240px;
	width: 830px;
	margin: 40px;
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

div#producto-min {
	background-color: white;
	height: 220px;
	width: 280px;
	border: #303030 solid 1px;
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
}

.img_min{
	height: 220px;
	width: 280px
}

div#imagen-producto-min {
	background-color: white;
	min-height: 220px;
	width: 280px;
	border-bottom: none;
}

div#titulo-producto-min {
	background-color: rgb(224, 215, 163);
	height: 20px;
	width: 279px;
	border: #303030 solid 1px;
}

div#titulo-producto-min:hover{
	background-color: rgb(238, 241, 211);
}

div#entrenamientos_home {
	background-color: white;
	min-height: 800px;
}

div#entrenamiento-home {
	background-color: white;
	height: 640px;
	width: 1200px;
	border: #303030 solid 1px;
	font-size: 28px;
	margin: 60px;
	margin-top: 10px;
}

.ind_entr_tit{
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 20px;
	color:black;
	text-shadow: 1px 2px 2px rgb(110, 106, 78);
}

div#titulo-entrenamientos{
	background-color: whitesmoke;
}

.img_entr_indx{
	width: 1200px;
	height: 600px;
}

legend {
	color: #fff;
	background: #303030;
	border: 1px solid black;
	padding: 2px 6px;
} 

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
	color: initial;
	background-color: rgb(216, 206, 152);
	font-weight:bold;
}

a.button:hover{
	background-color: rgb(238, 241, 211);
}


a.button2 {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
	color: initial;
	font-weight:bold;
	background-color: whitesmoke;
}

a.button2:hover{
	background-color: rgb(238, 241, 211);
}
#titulo-entrenamientos:hover{
	background-color: rgb(238, 241, 211);
}

.error{
	color: red;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 10px;
}
.registrar{
	color: rgb(109, 184, 11);
	font-size: 17px;
	text-shadow: 0 1px 0 rgb(59, 59, 59);
}

.registrar:hover{
	color: rgb(156, 253, 30);
}

.boton_basic{
	font-family: 'Haettenschweiler';
    font-size: 20px;
	width: 400px;
	margin-top: 10px;
	color: rgb(41, 8, 1);
	background-color: whitesmoke;
	border-radius: 5px;
	padding: 5px ;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255,255,255,0.3);
	box-shadow: 0 1px 1px black;
	cursor: pointer;
}

.boton_basic:hover{
	background-color: goldenrod;
}

.boton_basic:active{
	background-color: goldenrod;
}

.consola_admin{
	text-align: center;
}