body {
	background-color:whitesmoke;
}

div#contenedor {
	background-color: whitesmoke;
	margin-top: 0;
	max-width: 1400px;
}

div#barra {
	padding: 10px;
	float: left;
	width: 289px;
	height: 750px;	
	background-color:white;
}

div#contenido-lateral {
	padding: 10px;
	width: 260px;
	min-height: 700px;
	background-color:white;
}

div#oferta-lateral {
	background-color: white;
	width: 250px;
	min-height: 200px;
	margin-bottom: 10px;
	border: #303030 solid 1px;
}

div#ol-barra-superir{
	background-color: gold;
	height: 40px;
	width: 250px;
}
div#ol-bs-izq{
	background-color: white;
	width: 180px;
	height: 40px;
	float: left;
}
div#ol-ol-bs-dr{
	background-color: white;
	width: 40px;
	height: 40px;
	float: right;

}
div#ol-centro{
	background-color: aqua;
	height: 140px;
	width: 250px;
}
div#ol-titulo{
	font-size: 19px;
	background-color: linen;
}

div#contenido {
	padding: 10px;
	float: left;
	min-height: 750px;
	max-width: 1400px;
	width: 1400;
	background-color: white;
}

div#contenido2{
	background-color: white;
	padding: 10px;
	max-width: 1600px;
	min-height: 480px;
}
div#interior {
	padding: 10px;
	float: left;
	min-height: 600px;
	width: 1000px;
	background-color: white;

}

div#top_ventas {
	background-color: white;
	min-height: 400px;
	width: 1000px;
	margin-bottom: 10px;
	border: goldenrod solid 2px;
}

div#imagen-mas-vendido {
	background-color: whitesmoke;
	min-height: 300px;
	width: 1000px;
	border-bottom: none;
}

div#titulo-mas-vendido {
	background-color:goldenrod;
	min-height: 20px;
	max-width: 1000px;
	
	font-size: 25px;
	font-weight:bold;
}

div#novedades {
	background-color: white;
	min-height: 240px;
	width: 1000px;
	margin-bottom: 10px;
	border: goldenrod solid 2px;
}

div#producto-min {
	background-color: white;
	min-height: 240px;
	width: 240px;
	border: #303030 solid 1px;
	display: inline-block;
	margin-left: 5px;
}
div#imagen-producto-min {
	background-color: white;
	min-height: 220px;
	width: 220px;
	border-bottom: none;
}
div#titulo-producto-min {
	background-color: goldenrod;
	min-height: 20px;
	width: 240px;
}

div#entrenamientos_home {
	background-color: white;
	min-height: 800px;
}

div#entrenamiento-home {
	background-color: white;
	height: 440px;
	width: 1328px;
	border: #303030 solid 1px;
	font-size: 28px;
}
div#titulo-entrenamientos{
	background-color: linen;
}
div#pie {
	clear: both;
	padding: 20px;
	background-color: #303030;
	color: white;
	text-align: center;
}

div.saludo {
	width: 100%;
	text-align: right;
}

b{
	color: red;
}
legend {
	color: #fff;
	background: #303030;
	border: 1px solid black;
	padding: 2px 6px;
} 
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
	color: initial;
	background-color: goldenrod;
	font-weight:bold;
}
a.button2 {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
	color: initial;
	font-weight:bold;
	background-color: linen;
}
